@font-face {
  font-family: "Avenir-Bold";
  src: url("../fonts/Avenir-Bold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans-Medium";
  src: url("../fonts/NotoSans-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url("../fonts/NotoSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Rational-Medium";
  src: url("../fonts/Rational-Medium.woff") format("woff");
  font-weight: 500;
}
